# mac finder stuff
alias f='open -a Finder ./'
alias o='open -a '\''Visual Studio Code'\'' .'

# unix stuff
alias cat='ccat'
alias ll='ls -al'
alias reset-dns='sudo killall -HUP mDNSResponder'
alias t='trash'

# misc stuff
alias dockspace="defaults write com.apple.dock persistent-apps -array-add '{"tile-type"="spacer-tile";}';killall Dock"
alias myip="ifconfig | grep \"inet \" | grep -Fv 127.0.0.1 | awk \'{print $2}\'"

# tools
alias server='python -m SimpleHTTPServer 8000'
alias speedtest='speedtest-cli'
alias c='/Applications/Chrome\ Remote.app/Contents/MacOS/Google\ Chrome --args --disable-web-security --user-data-dir'
alias cr='/Applications/Chrome\ Remote.app/Contents/MacOS/Google\ Chrome --remote-debugging-port=9222'
alias crs='/Applications/Chrome\ Remote.app/Contents/MacOS/Google\ Chrome --args --disable-web-security --user-data-dir --remote-debugging-port=9222'

# npm
alias npmreg="npm config set registry https://registry.npmjs.org/"
alias npm-exec='PATH=$(npm bin):$PATH'

# docker
alias dps='docker ps --format="table {{.Names}}\t{{.Status}}\t{{.Ports}}"'